/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Merriweather', serif;
}

.wrapper {
	background-color: white;
	padding: 30px 0;
	box-shadow: silver 0px 10px 50px;
}

:root {
	--seda: #f5f5f5;
	--modra: #629fe0;
}



/* hlavicka */
header {
	background-image: url(images/island-hlavicka.jpg);
	color: white;
	font-weight: 700;
	line-height: 1.8;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	padding: 30px 50px;

	background-color: rgba(128, 128, 128, 0.663);
	background-blend-mode: multiply;
}

header h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 55px;
	margin: 0 0 20px 0;
}

.jana {
	color: silver;
	font-style: italic;
	margin-top: 30px;
}

.jana::before {
	content: "";
	width: 85px;
	height: 2px;
	background-color: silver;
	margin: 0px auto 20px auto;
	display: block;
}



/* menu */
ul.menu {
	display: block;
	list-style: none;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 30px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 50px;
}

ul.menu a {
	text-decoration: none;
	color: silver;
	padding: 10px 20px;
}

ul.menu li {
	border-bottom: silver 0.5px solid;
	padding: 10px 20px;
}



/* hlavní část */
.right p,
.left p,
.uvod p {
	padding: 0px 30px;
}

.section {
	margin-top: 60px;
}

img.fotoText {
	margin: 50px 0 0 0;
	width: 100%;
}

.caption {
	color: silver;
	text-align: center;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.caption a {
	color: silver;
}

h2 {
	margin: 0px 0px 30px 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
}

h2::after {
	content: "";
	display: block;
	width: 100px;
	height: 5px;
	background-color: var(--modra);
	margin: 20px 0 0 -30px;
}



/* fotogalerie  */
.grid {
	text-align: center;
}

img.galerie {
	width: 100%;
}

.galerieText {
	color: silver;
	margin: 5px 0 30px 0;
	font-size: 12px;
}

.galerieText a {
	color: silver;
}

.galerieText::first-line {
	font-weight: 700;
	color: grey;
	font-size: 14px;
}



/* paticka */

footer {
	padding: 30px;
	color: silver;
}

footer a {
	color: silver;
}





/* tablet */
@media screen and (min-width: 540px) {

	/* header */
	header h1 {
		font-size: 70px;
	}

	header p {
		font-size: 20px;
	}



	/* menu */
	ul.menu {
		display: flex;
	}

	ul.menu li.border {
		border: rgba(192, 192, 192, 0.711) 0.05px solid;
	} 

	ul.menu li.gradientLeft {
		border-top: 0.5px solid;
		border-image: linear-gradient(to left, rgba(192, 192, 192, 0.711) 70%, white) 1;
	}

	ul.menu li.gradientRight {
		border-top: 0.5px solid;
		border-image: linear-gradient(to right, rgba(192, 192, 192, 0.711) 70%, white) 1;
	}

	ul.menu li {
		flex: 1 1 100%;
		padding: 10px 0px;
	}


	ul.menu a:hover {
		color: grey;
	}




	/* popisky fotek */
	.relative {
		position: relative;
	}
	
	.caption {
		position: absolute;
		color: white;
		text-align: right;
		right: 20px;
		bottom: 20px;
	}
	
	.caption a {
		color: white;
	}



	/* fotogalerie */
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.galerieText {
		display: none;
	}

}
